# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  helm-lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Install Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

    - run: helm lint deploy/helm

  lint-verify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version-file: 'go.mod'

    - name: fmt
      run: make fmt

    - name: vet
      run: make vet

    - name: lint
      run: make lint

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: make test

  get-k8s-versions:
    runs-on: ubuntu-latest

    outputs:
      versions: ${{ steps.get-k8s-versions.outputs.kind_versions }}

    steps:
      - name: Get latest Kubernetes versions
        id: get-k8s-versions
        uses: tamcore/charts/.github/actions/latest-k8s-versions@master
        with:
          count: 3
          kind_images: true

  e2e:
    needs:
      - get-k8s-versions
      - helm-lint
    #   - lint-verify
    #   - test

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        k8s_version: ${{ fromJson(needs.get-k8s-versions.outputs.versions) }}

    steps:
    - uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version-file: 'go.mod'

    - name: Create kind cluster
      uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
      with:
        node_image: "kindest/node:${{ matrix.k8s_version }}"
        cluster_name: kind-cluster-${{ matrix.k8s_version }}
        config: tests/e2e/kind.yaml

    - name: Install imagepullsecret-patcher into kind cluster
      run: make ko-build-kind ko-kind-install KIND_CLUSTER_NAME=kind-cluster-${{ matrix.k8s_version }}

    - name: Run chainsaw e2e tests
      run: make e2e

    - name: fetch logs
      if: failure()
      run: |
        mkdir -p /tmp/logs
        kind export logs --name kind-cluster-${{ matrix.k8s_version }} /tmp/logs

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      if: failure()
      with:
        name: kind_v${{ matrix.k8s_version }}
        path: /tmp/logs
